# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: CI-CD

trigger:
- main

pool:
  #vmImage: ubuntu-latest
  name: VirtualBox


stages:
  - stage: CI
    displayName: 'CI - Pipeline de CI'
    jobs:

      - job: installNet
        displayName: 'install net core'
        steps:
        - task: UseDotNet@2
          inputs:
            packageType: 'runtime'
            version: '8.0'
      - job: BuildAndTest
        displayName: 'Build do Projeto e Teste'
        dependsOn: installNet
        steps:
        - task: DotNetCoreCLI@2
          displayName: Build
          inputs:
            command: 'build'
            projects: './src/Review-Filmes.sln'
        - task: DotNetCoreCLI@2
          displayName: Teste
          inputs:
            command: 'test'
            projects: './src/Review-Filmes.Test.Unit/Review-Filmes.Test.Unit.csproj'


      - job: Release
        displayName: 'Release Docker'
        dependsOn: BuildAndTest
        steps:
        - task: Docker@2
          inputs:
            containerRegistry: 'DockerHub'
            repository: 'fabricioveronez/live-azure-devops'
            command: 'buildAndPush'
            Dockerfile: './src/Review-Filmes.Web/Dockerfile'
            buildContext: './src'
            tags: |
              $(Build.BuildId)
              latest
